<!DOCTYPE html>
<html lang="en">
<!-- //hauptseite mit top 5//
//css muss in eine extra datei//-->
<head>
  <meta charset="UTF-8" />
 
  <link rel="stylesheet" type="text/css" href="/style/ui.css">
  <link rel="stylesheet" type="text/css" href="/style/companyStyle.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="/static/echarts/echarts.js"></script>
  <script src="/static/charts/charts.js" type="text/javascript"></script>
  
  <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script type="text/javascript" src="/static/UI/buttons.js"></script>
  <style>
    #map { height: 600px; width: 50%; }
    #statsOverviewContainer { width : 50%; height: 150px; }
    #avCustomerContainer { width: 50%; height: 150px; }
    #revenueBarContainer { width: 50%; height: 600px; }
    #placeholderContainer { width: 30%; height: 600px; }
    #placeholderContainer2 { width: 30%; height: 600px; }
    </style>

</head>

<body>
  
  <div class="button-container">
    <div class="button-group">
      <button id="bestButton">Best</button>
      <button id="worstButton">Worst</button>
      <button id="customButton">Custom</button>
      <button id="Last-Year">Last Year</button>
      <button id="Last-Quarter">Last Quarter</button>
      <button id="Last-Month">Last Month</button>
      <div class="customdate" id="customDateForm">
      <form id="dateForm">
        <input type="date" id="startDate" name="startDate" value="2022-12-01" required>
        <button id="customDate">Custom Date</button>
      </form>
    </div>
    </div>
  </div>
    <header>
      <input type="checkbox" id="nav_check" hidden>
      <nav>
          <ul>
              
          </ul>
      </nav>
      <label for="nav_check" class="menu_button">
          <div></div>
          <div></div>
          <div></div>
      </label>
  </header>


  <div id="dashboardContainer">
    <h1 id="dashboardTitle">@Pizza Hub</h1>  
  </div>
  <div id="generalStatsContainer">  
    <h2 id="generalStatsTitle">General Statistics</h2>  
    <div id="statsOverviewContainer"> 
        
      <!--TODO add chosen date or (last week, month, year)-->
      <h3>Statistics <!--for "customDate" </time>--></h3>
      <div id="statsOverview"></div>
    </div>
    <div id="avCustomerContainer">
      <h3>Average Customer Data</h3>
      <!-- Statistiken für das gewählte Datum hier einfügen 
       <div class="avCustomer-item">number of orders</div>
       <div class="avCustomer-item">spending amount</div>
       <div class="avCustomer-item">beispiele</div>-->
    </div> 
  </div>

  
  <div id="generalRevenueContainer">
    <h2 id="generalRevenueTitle">Revenue</h2>
<!--TODO ADD DATE AND SORTING FILTER DEPENDENCY-->
    <div id="revenueContainer">
    <h2 id="revenueTitleDaily" >Revenue</h2>
    <div id="revenue" class="chart" style="height: 600px;"></div>
    </div>

    <div id="revenueBarContainer">
    <h2>Total Revenue</h2>
    <div id="revenueBar" class="chart" style="height: 600px; width: 1000px;" >  
    </div>
    </div>
  </div>

  
    <div id="placeholderContainer">
    <h2 id="placeholderTitle">Placeholder</h2>
    </div>

    <div id="placeholderContainer2">
    <h2 id="placeholderTitle2">Placeholder2</h2>
    </div>

    <div id="mapContainer">
      <h2>All Stores in the US</h2>
    <div id="map" style="height: 600; width: 600;">
      
    </div>  
    </div>
    </div>

  <script>
    const map = L.map('map').setView([37.7749, -122.4194], 5);
    timeButtons();
    </script>
  <script>
    
    bestButton();
    worstButton();
    customButton();

    document.getElementById("bestButton").addEventListener("click", bestButton);
    document.getElementById("worstButton").addEventListener("click", worstButton);
    document.getElementById("customButton").addEventListener("click", customButton);

    if (firstClick) {
      setActiveButton("bestButton");
      bestButton();
    }

    // -------------
    statOverview();
    sideBar();
    storeLocationMap();

    // Function to display the data in organized boxes
    
  </script>
</body>

</html>
