<!DOCTYPE html>

<html lang="en">
<!-- //hauptseite mit top 5//
//css muss in eine extra datei//-->
<head>
  <meta charset="UTF-8" />
 
  <link rel="stylesheet" type="text/css" href="/style/ui.css">
  <link rel="stylesheet" type="text/css" href="/style/companyStyle.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="/static/echarts/echarts.js"></script>
  <script src="/static/charts/charts.js" type="text/javascript"></script>
  
  <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script type="text/javascript" src="/static/UI/buttons.js"></script>
  <style>
    #map { height: 600px; width: 50%; }
</style>
<script> 
   
  function clearStorage() {
           localStorage.clear();
           console.log('Local storage cleared.');
       }

       // Optionally, clear storage when the page loads
       window.onload = function() {
         console.log("test")
           clearStorage();
       };
</script>
</head>

<body>
  <div class="button-container">
    <div class="button-group">
      <button id="bestButton">Best</button>
      <button id="worstButton">Worst</button>
      <button id="customButton">Custom</button>
      <button id="Last-Year">Last Year</button>
      <button id="Last-Quarter">Last Quarter</button>
      <button id="Last-Month">Last Month</button>
    </div>

    <header>
        
      <input type="checkbox" id="nav_check" hidden>
      <nav>
          <ul>
              
          </ul>
      </nav>
      <label for="nav_check" class="menu_button">
          <div></div>
          <div></div>
          <div></div>
      </label>
  </header>

    <div class="customdate" id="customDateForm">
      <form id="dateForm">
        <input type="date" id="startDate" name="startDate" value="2022-12-01" required>
        <button id="customDate">"Custom Date"</button>
      </form>
    </div>
    

    <div id="statsOverviewContainer">
      <h2 id="statsOverviewTitle">General Statistics</h2>
      <div id="statsOverview"></div>
    </div>
  </div>

  <div class="chart-container">
    <div id="revenue" class="chart" style="height: 600px;"></div>
    <div id="revenueBar" class="chart" style="height: 600px;"></div>
  </div>

  <div id="map" style="height: 600; width: 600;"></div>
  <script>
   
    const map = L.map('map').setView([37.7749, -122.4194], 5);
    timeButtons();
    </script>
  <script>
    function setActiveButton(buttonId) {
      document.getElementById("bestButton").classList.remove("active");
      document.getElementById("worstButton").classList.remove("active");
      document.getElementById("customButton").classList.remove("active");
      document.getElementById(buttonId).classList.add("active");
    }
    

    let best;
    let custom;
    let curColors;
    let firstClick = true;

    function bestButton() {
      best = true;
      custom = false;
      firstClick = false;
      revenueChart(best).then(colors => {
        curColors = colors;
        revenueBarChart(curColors);
      });
      setActiveButton("bestButton");
    }

    function worstButton() {
      best = false;
      custom = false;
      firstClick = false;
      revenueChart(best).then(colors => {
        curColors = colors;
        revenueBarChart(curColors);
      });
      setActiveButton("worstButton");
    }

    async function customButton() {
      custom = true;
      firstClick = false;
      setActiveButton("customButton");

      while (custom) {
        try {
          const colors = await revenueBarChart(curColors, custom);
          const filteredColors = Object.fromEntries(Object.entries(colors).filter(([key, value]) => value !== undefined));
          await revenueChart(best, [], filteredColors);
        } catch (error) {
          console.error("Error in customButton loop:", error);
          custom = false;
        }
      }
    }

    document.getElementById("bestButton").addEventListener("click", bestButton);
    document.getElementById("worstButton").addEventListener("click", worstButton);
    document.getElementById("customButton").addEventListener("click", customButton);

    if (firstClick) {
      setActiveButton("bestButton");
      bestButton();
    }

    // -------------
    statOverview();
    sideBar();
    storeLocationMap();

    // Function to display the data in organized boxes
    
  </script>
</body>

</html>
