<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="stylesheet" type="text/css" href="/style/container.css" />
    <link rel="stylesheet" type="text/css" href="/style/diagram.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap"/>
  
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="/static/echarts/echarts.js"></script>
    <script src="/static/charts/charts.js" type="text/javascript"></script>

    <script src="/static/charts/storeCharts.js" type="module"></script>
    <script src="/static/UI/ui.js" type="module"></script>

    <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="/static/UI/ui.js"></script>
    

    <title>Document</title>
  </head>
  <body>
    <button class="openbtn" onclick="toggleSidebar()">☰</button>
    <a id="companyname" href="/">@ PizzaHub</a>
    <div id="user">
      <h1>Sebastian Bremm</h1>
      <p>Programming Lab Professor</p>
    </div>
    <img id="icon" src="/img/icon.png">
    <div id="topbar" onclick="toggleSidebar(true)">
      <div class="btnbox">
        <button class="btn">MTD</button>
        <button class="btn">QTD</button>
        <button class="btn">YTD</button>
        <button class="btn">PTD</button>
      </div>
      <div class="btnbox">
        <button class="infobox">FROM: XX-XX-XXXX</button>
        <button class="infobox">TO: 31-12-2022</button>
        <button class="infobox">PERIOD: XXDAYS</button>
      </div>
    </div>

    <div id="sidebar" class="sidebar">
      <a href="/store">S123456</a>
      <a href="/store">S123456</a>
    </div>
    <div id="main" class="main" onclick="toggleSidebar(true)">
      <div id="content">
      <!-- Put content here -->
      <!--Stats section-->
        <div class="section-items">
          <div class="section">
            <h1>Stats</h1>
            <div class="section-items">
              <!--PizzaHub-->
              <div class="subsection">
                <h1>PizzaHub</h1>
                <div class="section-items">
                  <div class="statBox">
                    <h2>Sales<h2>
                    <p>1234</p>
                  </div>
                  <div class="statBox">
                    <h2>Revenue</h2>
                    <p>1234</p>
                  </div>
                  <div class="statBox">
                    <h2>Customers</h2>
                    <p>1234</p>
                  </div>
                  <div class="statBox">
                    <h2>Placeholder</h2>
                    <p>1234</p>
                  </div>
                </div>
              </div>
              <!--Customers-->
              <div class="subsection">
                 <h1>Customers</h1>
                 <div class="section-items">
                  <div class="statBox">
                    <div id="stat-item"></div>
                    <h2>Placeholder</h2>
                    <p>1234</p>
                  </div>
                  <div class="statBox">
                    <h2>Order Value</h2>
                    <p>1234</p>
                  </div>
                  <div class="statBox">
                    <h2>PizzaOrder</h2>
                    <p>1234</p>
                  </div>
                  <div class="statBox">
                    <h2>Places</h2>
                    <p>1234</p>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      <!--End of Stats section-->
      <!--Revenue section-->
        <div class="section-items">
          <div class="section">
            <div class="section-items">
              <div class="btnbox">
                <button class="btn" style="z-index: 99;">STABLE</button>
                <button class="btn" style="z-index: 99;">UNSTABLE</button>
                <button class="btn" style="z-index: 99;">CUSTOM</button>
              </div>
              <h1 class="centered">Revenue</h1>
            </div>
            <div class="section-items">
              <div class="subsection">
                <div id="revenue" class="diagram"></div>
              </div> 
              <div class="subsection">
                  <div id="revenueBar" class="diagram"></div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Revenue section-->
        <!--Bottom section-->
        <div class="section-items">
          <div class="subsection">test3</div>
          <div class="subsection">test4</div>
          <div class="subsection">
            <h2 data-tooltip="This is the a Map showing all Stores" id="mapTitel">Store locations</h2>
            <div id="map" class="diagram"></div>  
          </div>
        </div>
        <!--End of Bottom section-->
        <div id="subsection">
          <div id="statsOverview" class="chart"></div>
          <div id="revenue" class="charts" style="height: 600px; width: 100%;"></div>
        </div>

      <!-- END OF CONTENT-->
      </div>


    <script>
      function toggleSidebar(turnOff = false) {
        if (turnOff) {
          document.getElementById("sidebar").classList.remove("active");
          document.getElementById("main").classList.remove("active");
        } else {
        document.getElementById("sidebar").classList.toggle("active");
        document.getElementById("main").classList.toggle("active");
      }      
        }
    </script>
    <script>
      const map = L.map('map', {attributionControl: false}).setView([39, -120], 5);
      storeLocationMap();
      statOverview();
      avCustomer();
      pizzaPopularity();
      revenueChart();
    </script>
  </body>
</html>
