<!DOCTYPE hmtl>
<html lang="en">
<!--TODOS
1. add store id in dashboardTitle
2. resize dashboardContainer and gerneralsStatsContainer to take full device length (bars at the top)
3. remove grey borderlines in "orderedPizzaSizes", "ABC Analaysis" and "ingridientConsumptionPerWeek"
4. Container Placement to be asymmetric (two boxes in one row, three in the next)-->
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/style/ui.css">
  <link rel="stylesheet" type="text/css" href="/style/individualStyle.css">
  
  <script src="/static/echarts/echarts.js"></script>
  <script src="/static/charts/indivivdualCharts.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="/static/UI/buttons.js"></script>
 <style>
  #dashboardContainer {width: 1000px;height: 150px;}
  #statsOverviewContainer {width: 100%; height: 150px;}
  #qualityContainer {width: 600px; height: 600px;}
  #pizzaSizeContainer {width: 400px; height: 500px;}
  #abcContainer {width: 600px; height: 700px;}
  #pizzaIngredientsContainer {width: 600px; height: 700px;}
  
  </style>
</head>

<body>
  <header>
    <h1 id="dashboardTitle">@Pizza Hub - Store ID: </h1>
    <input type="checkbox" id="nav_check" hidden>
    <nav>
      <ul class="menu-container">
        <!-- Store items will be populated here -->
      </ul>
    </nav>
    <label for="nav_check" class="menu_button">
      <div></div>
      <div></div>
      <div></div>
    </label>
  </header>

  <!-- Dashboard Container -->
  <div id="dashboardContainer">
    <div id="UI">
      <button id="redirectButton">MainPage</button>
      <button id="Last-Year">Last Year</button>
      <button id="Last-Quarter">Last Quarter</button>
      <button id="Last-Month">Last Month</button>
      <div class="customdate" id="customDateForm">
        <form id="dateForm">
          <input type="date" id="startDate" name="startDate" value="2022-12-01" required>
          <button id="customDate">Custom Date</button>
        </form>
      </div>
    </div>
  </div>


  <div id="statsOverviewContainer">
    <h2 id="statsOverviewTitle">General Statistics</h2>
    <div id="statsOverview"></div>
  </div>


<!--TODO Diagramm in Box schieben-->
 <div id="qualityContainer">
    <h1>Quality</h1>
   <div id="quality" style="width: 600px; height: 600px"> 
  </div>
 </div>
  
  <div id="Store-revenueContainer">
    <h1>Store Revenue</h1>
    <div id="Store-revenue" style="height: 600px">
    </div>
  </div>

  <div id="heatmapContainer">
    <h1>Pizzas sold together</h1>
    <div id="Heatmap" style="width: 1300px; height: 600px">
    </div>
  </div>

  <div id="PizzaSizeContainer">
    <h1>Ordered Pizza Sizes</h1>
    <div id="PizzaSize" style="width: 400px; height: 400px">
    </div>
  </div>

  <div id="abcContainer">
    <h1>ABC Analysis</h1>
    <div id="abc" style="width: 600px; height: 600px">
    </div>
  </div>

  <div id="pizzaIngredientsContainer">
    <h1>Ingredient Consumption in kg per Week</h1>
    <div id="pizzaIngredients" style="width: 600px; height: 600px">
    </div>
 <!--
  <div id="Heatmap" style="width: 900px; height: 600px">
    <h1>Pizzas sold together</h1>
  </div>
  <div id="PizzaSize" style="width: 400px; height: 400px">
    <h1>Ordered Pizza Sizes</h1>
  </div>
  <div id="abc" style="width: 600px; height: 600px">
    <h1>ABC Analysis</h1>
  </div>
  <div id="pizzaIngredients" style="width: 1600px; height: 800px">
    <h1>Ingredient Consumption in kg per Week</h1>
  </div>-->
</body>
<script>sideBar();
  backButton();
  timeButtons();
  
  
  statOverview();
  customDate();
  
  gaugeChart();

  monthlyRevenue();

  heatmap();

  pizzaSize();

  abcAnalysis();

  pizzaIngredients();

</script>

</html>