<!DOCTYPE hmtl>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/style/individualStyle.css">
  <script src="/static/echarts/echarts.js"></script>
  <script src="/static/charts/indivivdualCharts.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="/static/UI/buttons.js"></script>
  
</head>

<body>
  <!--Add StoreId from database--> 
  <h1>Pizza Franchise - Store </h1>

  <div id="UI">
  <button id="redirectButton">MainPage</button>
  <button id="Last-Year">Last Year</button>
  <button id="Last-Quarter">Last Quarter</button>
  <button id="Last-Month">Last Month</button>
  <div class="customdate" id="customDateForm">
    <form id="dateForm">
      <input type="date" id="startDate" name="startDate" value="2022-12-01" required>
      <button id="customDate">"Custom Date"</button>
    </form>
  </div>
  </div>
  
  <div id="statsOverviewContainer"style="width: 1000px; height: 150px">
    <h2 id="statsOverviewTitle">General Statistics</h2>
    <div id="statsOverview"></div>
  </div>
  
</div>
  
  <div id="quality" style="width: 600px; height: 600px">
    <h1>Quality</h1>
  </div>
  <div id="Store-revenue" style="width: 600px; height: 600px"></div>
  <div id="Heatmap" style="width: 900px; height: 600px"></div>
  <div id="PizzaSize" style="width: 400px; height: 400px"></div>
  <div id="abc" style="width: 600px; height: 600px"></div>
</body>
<script>
  backButton();
  
  statOverview();
  customDate();
  
  gaugeChart();

  monthlyRevenue();

  heatmap();

  pizzaSize();

  abc();

</script>

</html>