<!DOCTYPE html>
<html lang="en">
<!-- EINZELNER STORE MIT STOREID !-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/style/main.css" />
  <link rel="stylesheet" type="text/css" href="/style/container.css" />
  <link rel="stylesheet" type="text/css" href="/style/diagram.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <script src="/static/echarts/echarts.js"></script>
  <script src="/static/charts/storeCharts.js" type="text/javascript"></script>
  <script src="/static/UI/ui.js" type="text/javascript"></script>

  <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>

  <link rel="icon" type="image/x-icon" href="../img/PizzaHub_icon.ico">
  <title>PizzaHub Store Dashboard</title>
</head>

<body>
  <button class="openbtn" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
  <a id="companyname" href="/">
    <i class="fa-solid fa-house"></i>
    PizzaHub
  </a>
  <div id="user">
    <h1>Sebastian Bremm</h1>
    <p>Programming Lab Professor</p>
  </div>
  <img id="icon" src="/img/icon.png">
  <div id="topbar" onclick="toggleSidebar(true)">
    <div class="btnbox">
      <button class="btn" id="Last-Month" onclick="mtd();">MTD</button>
      <button class="btn" id="Last-Quarter" onclick="qtd();">QTD</button>
      <button class="btn" id="Last-Year" onclick="ytd();">YTD</button>
      <button class="btn" id="customDate" onclick="visibilityCoustomDate()">PTD</button>
      <input type="date" id="datePicker" style="display: none;">
      <input type="date" id="startDate" name="startDate" value="2022-12-01" style="display: none;" required>
    </div>
    <div class="btnbox">
      <button class="infobox" id="FROM">FROM: XX-XX-XXXX</button>
      <button class="infobox">TO: 31-12-2022</button>
      <button class="infobox" id="PERIOD">PERIOD: XXDAYS</button>
    </div>
  </div>

  <div id="sidebar" class="sidebar">
    <!-- Store links will be dynamically added here -->
  </div>

  <div id="main" class="main" onclick="toggleSidebar(true)">
    <div id="content">
      <!-- Put content here -->
      <!--Stats section-->
      <div class="section-items">
        <div class="section">
          <h1>Orders</h1>
          <div class="section-items">
            <!--PizzaHub-->
            <div class="subsection">
              <h1 id="storeName">PizzaHub</h1>
              <div class="section-items">
                <div class="statBox">
                  <div class="iconBox">
                    <i class="fas fa-chart-line"></i>
                  </div>
                  <h2>Orders<h2>
                      <p id="sSales">xxxx</p>
                </div>
                <div class="statBox">
                  <div class="iconBox">
                    <i class="fas fa-dollar-sign"></i>
                  </div>
                  <h2>Revenue</h2>
                  <p id="sRevenue">xxxx</p>
                </div>
                <div class="statBox">
                  <div class="iconBox">
                    <i class="fas fa-users"></i>
                  </div>
                  <h2>Customers</h2>
                  <p id="sCustomers">xxxx</p>
                </div>
                <div class="statBox">
                  <div class="iconBox">
                    <i class="fa-solid fa-pizza-slice"></i>
                  </div>
                  <h2>Pizzas sold</h2>
                  <p id="sPizzasSold">xxxx</p>
                </div>
              </div>
            </div>
            <!--Customers-->
            <div class="subsection">
              <h1>Average Customer</h1>
              <div class="section-items">
                <div class="statBox">
                  <div id="stat-item"></div>
                  <div class="iconBox">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <h2>Orders</h2>
                  <p id="avgOrdersPerCustomer">xxxx</p>
                </div>
                <div class="statBox">
                  <div class="iconBox">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                  </div>
                  <h2>Order Value</h2>
                  <p id="avgOrderValuePerCustomer">xxxx</p>
                </div>
                <div class="statBox">
                  <div class="iconBox">
                    <i class="fa-solid fa-list-ol"></i>
                  </div>
                  <h2>Pizzas per Order</h2>
                  <p id="avgPizzasPerOrder">xxxx</p>
                </div>
                <div class="statBox">
                  <div class="iconBox">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                  <h2>Order frequency</h2>
                  <p>xxxx</p> <!-- Placeholder retained -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Stats section-->
      <!--Revenue section-->
      <div class="section-items">
        <!--section a-->

        <div class="pseudoSection">
          <div class="section-items">

            <div class="section">
              <h1>Pizza</h1>
              <div class="section-items">
                <div class="subsection">
                  <h2>Sales in sizes</h2>
                  <div id="PizzaSize" class="diagram"></div>
                </div>
                <div class="subsection">
                  <h2>ABC - Analysis</h2>
                  <div id="abcAnalysis_pizza_2" class="diagram"></div>
                </div>
              </div>
              <div class="section-items">
                <div class="subsection">
                  <h2>Relationship between price and popularity of pizzas</h2>
                  <div id="pizza_price_popularity" class="diagram"></div>
                </div>
              </div>
              <div class="section-items">
                <div class="subsection">
                  <h2 data-tooltip="Text needed">Heatmap</h2>
                  <div id="Heatmap" class="diagram"></div>
                </div>
              </div>
              <div class="section-items">
                <div class="subsection">
                  <h2 class="pizzaPopularityH" data-tooltip="Text needed">Pizza Popularity
                  </h2>
                  <div id="pizzaPopularity" class="diagram"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Pizza section-->
        <!--Forecast section-->
        <div class="pseudoSection">
          <div class="pseudoSubSection" style="padding-bottom: 0px;">
            <div class="section-items">
              <div class="subsection" style="margin-top: 0px; margin-left: 0px; margin-right: 0px;">
                <div class="section-items" style="justify-content: space-between;">
                  <div class="btnbox" style="width: 90px;">
                    <button class="btn" id="" onclick="changeDow(-1);" style="z-index: 99;">
                      <i class="fa-solid fa-caret-left"></i> </button>
                    <button class="btn" id="" onclick="changeDow(1);" style="z-index: 99;">
                      <i class="fa-solid fa-caret-right"></i> </button>
                  </div>
                  <div class="btnbox" style="width: 60px;">
                    <button class="infobox" id="dowInfo">TODAY</button>
                  </div>
                  <h1 class="centered">Forecast</h1>
                </div>
                <div class="section-items">
                  <div class="subsection">
                    <h2>Average orders per hour</h2>
                    <div id="dailyOrders" class="diagram"></div>
                  </div>
                </div>
                <div class="section-items">
                  <div class="subsection">
                    <h2>Average ingredients used</h2>
                    <div id="pizzaIngredients" class="diagram"></div>
                  </div>
                </div>
                <div class="section-items">
                  <div class="section">
                    <h2>Stats</h2>
                    <div class="section-items">
                      <div class="statBox">
                        <div id="stat-item"></div>
                        <div class="iconBox">
                          <i class="fa-solid fa-pizza-slice"></i>
                        </div>
                        <h2>Pizzas</h2>
                        <p id="totalPizzas">xxxx</p>
                      </div>
                      <div class="statBox">
                        <div class="iconBox">
                          <i class="fas fa-dollar-sign"></i>
                        </div>
                        <h2>Revenue</h2>
                        <p id="totalRevenue">xxxx</p>
                      </div>
                      <div class="statBox">
                        <div class="iconBox">
                          <i class="fas fa-shopping-bag"></i>
                        </div>
                        <h2>Orders</h2>
                        <p id="totalOrders">xxxx</p>
                      </div>
                      <div class="statBox">
                        <div class="iconBox">
                          <i class="fas fa-users"></i>
                        </div>
                        <h2>Customers</h2>
                        <p id="totalCustomers">xxxx</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pseudoSubSection" style="padding-top: 0px;">
            <div class="section-items">
              <div class="subsection" style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
                <h1>Customer</h1>
                <div class="section-items">
                  <div class="subsection">
                    <h2>ABC - Analysis</h2>
                    <div class="diagram" id="abcAnalysis_customer_2"></div>
                    <input type="text" id="customerSearch" placeholder="Search..">
                  </div>
                  <div class="subsection">
                    <h2>Customer relationship</h2>
                    <div class="diagram" id="quality"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-items">
            <div class="section">
              <h1>Attribution</h1>
              <div class="section-items">
                <h3>Daniel</h3>
                <h3>Peter</h3>
              </div>
              <h3>Yannis</h3>
              <div class="section-items">
                <h3>Fatima </h3>
                <h3>Tristan</h3>
              </div>
            </div>
          </div>
        </div>
        <!--End of section b-->
        <!--End of Revenue section-->
        <!-- END OF CONTENT-->
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const tooltipElements = document.querySelectorAll('[data-tooltip]');

            tooltipElements.forEach(el => {
              el.addEventListener('mouseenter', showTooltip);
              el.addEventListener('mouseleave', hideTooltip);
            });

            function showTooltip(event) {
              const tooltipText = event.target.getAttribute('data-tooltip');
              let tooltip = document.createElement('div');
              tooltip.className = 'tooltip';
              tooltip.innerText = tooltipText;
              document.body.appendChild(tooltip);

              const rect = event.target.getBoundingClientRect();
              tooltip.style.left = `${rect.left + window.scrollX}px`;
              tooltip.style.top = `${rect.top + window.scrollY - tooltip.offsetHeight - 5}px`;

              event.target._tooltip = tooltip;
              setTimeout(() => tooltip.classList.add('show'), 10); // slight delay to transition
            }

            function hideTooltip(event) {
              const tooltip = event.target._tooltip;
              if (tooltip) {
                tooltip.classList.remove('show');
                tooltip.addEventListener('transitionend', () => tooltip.remove());
                event.target._tooltip = null;
              }
            }
          });

        </script>
        <script>
          const d = new Date();
          let dow = d.getDay();
          localStorage.setItem('dow', JSON.stringify(dow));
          document.getElementById('storeName').textContent = JSON.parse(localStorage.getItem("store")).storeID;

          mtd();

          function toggleSidebar(turnOff = false) {
            if (turnOff) {
              document.getElementById("sidebar").classList.remove("active");
              document.getElementById("main").classList.remove("active");
            } else {
              document.getElementById("sidebar").classList.toggle("active");
              document.getElementById("main").classList.toggle("active");
            }
          }
        </script>
</body>

</html>