<!DOCTYPE html>
<html lang="en">
<!-- EINZELNER STORE MIT STOREID !-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/style/main.css" />
  <link rel="stylesheet" type="text/css" href="/style/container.css" />
  <link rel="stylesheet" type="text/css" href="/style/diagram.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" />

  <!--<script src="/static/echarts/infographic.js" type="text/javascript"></script>-->
  <script src="/static/echarts/echarts.js"></script>
  <script src="/static/charts/storeCharts.js" type="text/javascript"></script>
  <script src="/static/UI/ui.js" type="text/javascript"></script>

  <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>

  <title>Document</title>
</head>

<body>
  <button class="openbtn" onclick="toggleSidebar()">☰</button>
  <a id="companyname" href="/">@ PizzaHub</a>
  <div id="user">
    <h1>Sebastian Bremm</h1>
    <p>Programming Lab Professor</p>
  </div>
  <img id="icon" src="/img/icon.png">
  <div id="topbar" onclick="toggleSidebar(true)">
    <div class="btnbox">
      <button class="btn" id="Last-Month" onclick="mtd();">MTD</button>
      <button class="btn" id="Last-Quarter" onclick="qtd();">QTD</button>
      <button class="btn" id="Last-Year" onclick="ytd();">YTD</button>
      <button class="btn" id="customDate" onclick="visibilityCoustomDate()">PTD</button>

      <!--FIXME-->
      <input type="date" id="datePicker" style="display: none;">
      <input type="date" id="startDate" name="startDate" value="2022-12-01" style="display: none;" required>

    </div>
    <div class="btnbox">
      <button class="infobox" id="FROM">FROM: XX-XX-XXXX</button>
      <button class="infobox">TO: 31-12-2022</button>
      <button class="infobox" id="PERIOD">PERIOD: XXDAYS</button>
    </div>
  </div>

  <div id="sidebar" class="sidebar">
    <!-- Store links will be dynamically added here -->
  </div>

  <div id="main" class="main" onclick="toggleSidebar(true)">
    <div id="content">
      <!-- Put content here -->
      <!--Stats section-->
      <div class="section-items">
        <div class="section">
          <h1>Orders</h1>
          <div class="section-items">
            <!--PizzaHub-->
            <div class="subsection">
              <h1 id="storeName">PizzaHub</h1>
              <div class="section-items">
                <div class="statBox">
                  <h2>Sales<h2>
                      <p id="sSales"></p>
                </div>
                <div class="statBox">
                  <h2>Revenue</h2>
                  <p id="sRevenue">1234</p>
                </div>
                <div class="statBox">
                  <h2>Customers</h2>
                  <p id="sCustomers">1234</p>
                </div>
                <div class="statBox">
                  <h2>Pizzas sold</h2>
                  <p>1234</p>
                </div>
              </div>
            </div>
            <!--Customers-->
            <div class="subsection">
              <h1>Average Customer</h1>
              <div class="section-items">
                <div class="statBox">
                  <div id="stat-item"></div>
                  <h2>Orders</h2>
                  <p>1234</p>
                </div>
                <div class="statBox">
                  <h2>Order Value</h2>
                  <p id="oValue">1234</p>
                </div>
                <div class="statBox">
                  <h2>Pizzas per Order</h2>
                  <p>1234</p>
                </div>
                <div class="statBox">
                  <h2>Order frequency</h2>
                  <p>1234</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Stats section-->
      <!--Revenue section-->
      <div class="section-items">
        <!--section a-->
        <div class="section">
          <h1>Pizza</h1>
          <div class="section-items">
            <div class="subsection">
              <h2>Sales in sizes</h2>
              <div id="PizzaSize" class="diagram"></div>
            </div>
            <div class="subsection">
              <h2>ABC - Analysis</h2>
              <div id="abcAnalysis_pizza_2" class="diagram"></div>
            </div>
          </div>
          <div class="section-items">
            <div class="subsection">
              <h2>Relationship between price and popularity of pizzas</h2>
              <div id="pizza_price_popularity" class="diagram"></div>
            </div>
          </div>
          <div class="section-items">
            <div class="subsection">
              <h2>Heatmap</h2>
              <div id="Heatmap" class="diagram"></div>
            </div>
          </div>
          <div class="section-items">
            <div class="subsection">
              <h2 class="pizzaPopularityH" data-tooltip="This is the first placeholder section">Pizza Popularity</h2>
              <div id="pizzaPopularity" class="diagram"></div>
            </div>
          </div>
        </div>
        <!--End of Pizza section-->
        <!--Forecast section-->
        <div class="pseudoSection">
          <div class="section-items">
            <div class="subsection" style="
              margin-top: 0px;
              margin-left: 0px;
              margin-right: 0px;">
              <div class="section-items" style="justify-content: space-between;">
                <div class="btnbox" style="width: 120px;">
                  <button class="btn" id="" onclick="changeDow(-1);" style="z-index: 99;">BACK</button>
                  <button class="btn" id="" onclick="changeDow(1);" style="z-index: 99;">NEXT</button>
                </div>
                <div class="btnbox" style="width: 60px;">
                  <button class="infobox" id="dowInfo">TODAY</button>
                </div>
                <h1 class="centered">Forecast</h1>
              </div>
              <div class="section-items">
                <div class="subsection">
                  <h2>Average orders per hour</h2>
                  <div id="dailyOrders" class="diagram"></div>
                </div>
              </div>
              <div class="section-items">
                <div class="subsection">
                  <h2>Average ingredients used</h2>
                  <div id="pizzaIngredients" class="diagram"></div>
                </div>
              </div>
              <div class="section-items">
                <div class="section">
                  <h2>Stats</h2>
                  <div class="section-items">
                    <div class="statBox">
                      <div id="stat-item"></div>
                      <h2>Pizzas</h2>
                      <p>1234</p>
                    </div>
                    <div class="statBox">
                      <h2>Revenue</h2>
                      <p>1234</p>
                    </div>
                    <div class="statBox">
                      <h2>Orders</h2>
                      <p>1234</p>
                    </div>
                    <div class="statBox">
                      <h2>Customers</h2>
                      <p>1234</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-items">
            <div class="subsection" style="
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;">
              <h1>Customer</h1>
              <div class="section-items">
                <div class="subsection">
                  <h2>ABC - Analysis</h2>
                  <div class="diagram" id="abcAnalysis_customer_2"></div>
                  <input type="text" id="customerSearch" placeholder="Search..">
                </div>
                <div class="subsection">
                  <h2>Customer relationship</h2>
                  <div class="diagram" id="quality"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of section b-->
        <!--End of Revenue section-->
        <!-- END OF CONTENT-->

        <script>
          const d = new Date();
          let dow = d.getDay();
          localStorage.setItem('dow', JSON.stringify(dow));
          document.getElementById('storeName').textContent = JSON.parse(localStorage.getItem("store")).storeID;

          mtd();


          function toggleSidebar(turnOff = false) {
            if (turnOff) {
              document.getElementById("sidebar").classList.remove("active");
              document.getElementById("main").classList.remove("active");
            } else {
              document.getElementById("sidebar").classList.toggle("active");
              document.getElementById("main").classList.toggle("active");
            }
          }
        </script>
</body>

</html>