/* General body styling */
body {
  background-color: #1B1B1B;
  color: white;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Space between buttons */
  margin-bottom: 20px;
}

/* Button Group */
.button-group {
  display: flex;
  gap: 10px;
}

/* Button styling */
.button-group button,
.customdate button {
  width: 100px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  background-color: #FF4500;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px; /* Adjust font size */
  text-align: center;
  cursor: pointer;
}

/* Custom Date Container */
.customdate {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Active button styling */
.active {
  background-color: #FF6347;
}

/* Tooltip styling */
#tooltip {
  position: relative;
  cursor: pointer;
  border-bottom: 2px dotted;
  padding: 7px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

#tooltipText {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 transparent transparent transparent;
}

#tooltip:hover #tooltipText {
  top: 130%;
  visibility: visible;
  opacity: 1;
}

/* Chart container styling */
.chart-container {
  display: flex;
  justify-content: space-between;
}

.chart {
  width: 48%;
}

/* Dashboard container styling */
#dashboardContainer {
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  
}

#dashboard {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

#pizzaFranchiseTitle,
.h1 {
  text-align: center;
  font-size: 24px;
  font-family: copperplate, sans-serif;
  margin: 0 0 10px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

/* General stats container styling */
#generalStatsContainer {
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  
}

#generalStats {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

#generalStatsTitle {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

#statsOverviewContainer {
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  
}

#statsOverview {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.stat-item {
  
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 150px;
  text-align: center;
}

.stat-item h3 {
  margin: 0;
  font-size: 18px;
}

.stat-item p {
  margin: 5px 0 0;
  font-size: 14px;
}

.customdate {
  margin-top: 20px;
}

#statsOverviewTitle {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

/* General revenue container styling */
#generalRevenueContainer {
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  
}

#generalRevenue {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

#generalRevenueTitle {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

#revenueWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

#revenueContainer,
#revenueBarContainer {
  flex: 1;
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  
  box-sizing: border-box;
}

#revenue {
  width: 100%;
  height: 600px;
}

#revenueBar {
  width: 100%;
  height: 600px;
}

#sector3Container {
  margin-top: 20px;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  padding: 10px;
  background-color: #b3b3b3;
  width: 100%;
  box-sizing: border-box;
}

#sector3Title {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

#placeholder {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.placeholderContainer {
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  
  flex: 1;
  box-sizing: border-box;
}

.placeholderTitle {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px;
  border-bottom: 2px solid #c0c0c0;
  padding-bottom: 5px;
}

#mapContainer {
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  
  width: 100%;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 4000px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
