#map {
    border-radius: 4px;
    height: 250px;
}

#revenue {
    height: 300px;
}

.diagram {
    display: absolute;
    height: 100px;
}

#mapTitel {
    position: absolute;
    bottom: 6px;
    left: 6px;
    padding: 5px;
    top: auto;
    z-index: 999;
    background-color: #1b1b1b;
    border-top-right-radius: 4px;
}

#revenue {
    width: auto;
    display: flex;
  }

#pizzaRanking {
    width: auto;
    display: flex;
  }

#pizzaRankingContainer {
  flex: 1;
  margin-top: 20px;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#revenueContainer {
    margin-top: 20px;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
#statsOverview {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }

#pizzaPopularity {
    width: 100%;
    height: 600px;
  }