h1,
h2,
h3 {
  margin: 1px;
  text-align: center;
}

h1 {
  margin: 3px;
  font-size: large;
}
h2 {
  margin: 2px;
  font-size: medium;
}

h3 {
  font-size: small;
}

p {
  font-size: small;
  color: #b3b3b3;
  margin: 1px;
  margin-left: 7px;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #ffff;
}

body {
  background-color: #1b1b1b;
  margin: 0;
}

/*Sidebar -------------------*/
.sidebar {
  position: fixed;
  scrollbar-width: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #252525;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar a,
.sidebar p {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  margin-right: 5%;
}

.sidebar a:hover {
  color: #b3b3b3;
}

.sidebar p:hover {
  color: #ff6347;
}

button {
  background-color: #ff4500;
  z-index: 9999;
}

button:hover {
  background-color: #ff6347;
  cursor: pointer;
}

.openbtn {
  position: absolute;
  font-size: 20px;
  padding: 10px 15px;
  height: 56px;
  width: 56px;
  border: none;
  line-height: 3px;
  z-index: 9999;
}

.sidebar.active {
  width: 250px;
}

.main {
  justify-content: space-between;
  display: flex;
  padding: 10px;
  transition: margin-left 0.5s;
  transition: 0.3s;
  opacity: 1;
}

.main.active {
  opacity: 0.5;
  transition: 0.3s;
}
/*Sidebar -------------------*/

/*Topbar -------------------*/
#topbar {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: #252525;
  overflow: hidden;
  align-items: center;
  align-content: center;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Topbar -------------------*/

/*Button -------------------*/
.btn,
.infobox {
  flex: 1;
  height: 28px;
  padding: 0px 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border-width: 0;
  margin: 2px;
}

.btnbox {
  background-color: #1b1b1b;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.3);
  border-color: #3a3a3a;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  width: 320px;
  justify-content: space-evenly;
  margin: 3px;
}

.infobox, .infobox:hover {
  background: #252525;
	color: #B3B3B3;
	font-weight: 400;
	font-size: 10px;
  cursor: auto;
}
/*Button -------------------*/

/*Company Name -------------------*/
#companyname, #user{
  position: absolute;
  left: 60px;
  z-index: 9999;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 25px;
}

#user {
  position: absolute;
  left: auto;
  right: 60px;
  top: 0;
  height: 56px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

#user p, #user h1 {
  left: auto;
  right: 0px;
  text-align: right;
  margin: 0px;
}

#user h1 {
  font-size: 16px;
  margin-top: 10px;
}

#user p{
  font-size: 10px;
  margin-bottom: 10px;
}

#companyname:hover {
  color: #b3b3b3;
}

#icon {
  position: absolute;
  left: auto;
  right: 0px;
  z-index: 9999;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  padding: 6px;
}
/*Company Name -------------------*/

