*{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: white; 
}

body {
    background-color: #1b1b1b;
    margin : 0;
}

.sidebar {
    scrollbar-width: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    margin-right: 5%;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    padding-top: 2px;
    right: 25px;
    font-size: 36px;
}

#topbar {
    position: fixed;
    width: 100%;
    height: 47px;
    background-color: #252525;
    overflow: hidden;
    z-index: -1;
    align-items: center;
    align-content: center;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#main {
    padding: 16px;
    transition: margin-left 0.5s;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FF4500;
    padding: 10px 15px;
    height: 47px;
    width: 47px;
    border: none;
    line-height: 3px;
}

.openbtn:hover {
    background-color: #FF6347;
}

.sidebar.active {
    width: 250px;
}
