* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: white;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: dodgerblue;
}
.menu-container {
    position: fixed; 
    overflow-y: auto;
    top: 50px;
    left: 0;
    z-index: 100;
    background-color: #252525;
    height: 100vh; 
    width: 250px; 
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: left 0.3s;
    scrollbar-width: none;
}

.menu_button {
    cursor: pointer;
    display: block; 
    position: absolute;
    top: 10px;
    left: 10px; 
}

.menu_button div {
    width: 30px;
    height: 4px;
    margin: 6px 0;
    background: #FF4500;
    transition: 0.4s;
}


#nav_check:not(:checked) ~ nav .menu-container {
    left: -250px;
}

#nav_check:checked ~ nav .menu-container {
    left: 0;
}

@media only screen  {
    header {
        padding: 0 30px;
    }
}
@media only screen  {
    .menu_button {
        display: block;
    }
    header nav {
        position: absolute;
        width: 10%;
        left: -100%;
        background-color: black;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 2px 0;
    }
}
.store-list {
    display: none;
    list-style-type: none; /* Optional: removes bullet points from nested lists */
    padding-left: 20px;/* Optional: indents the nested list */
  }
  
  /* Show the store list when the show class is added */
  .store-list.show {
    display: block;
    color: white;
  }
  
  /* Styling for the city buttons */
  .city-button {
    background: none;
    border: none;
    color: white; /* Set text color to white */
    cursor: pointer;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
  }
  
  /* Ensure the button is above any underlying elements */
  .city-button {
    position: relative;
    z-index: 10;
  }
  .tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
  }
  
  .tooltip.show {
    visibility: visible;
    opacity: 1;
  }